include CONTRIBUTORS
include LICENSE
include MANIFEST.in
include README.rst
recursive-include docs *
recursive-include test_project/connect/fixtures *
recursive-include test_project/connect/templates *